<p id="notice"><%= notice %></p>

<h1>Sns</h1>

<table>
  <thead>
    <tr>
      <th>Customers line</th>
      <th>Line reserve</th>
      <th>Recruiting line</th>
      <th>Twitter</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sns.each do |sn| %>
      <tr>
        <td><%= sn.customers_line %></td>
        <td><%= sn.line_reserve %></td>
        <td><%= sn.recruiting_line %></td>
        <td><%= sn.twitter %></td>
        <td><%= sn.blog %></td>
        <td><%= link_to 'Show', sn %></td>
        <td><%= link_to 'Edit', edit_sn_path(sn) %></td>
        <td><%= link_to 'Destroy', sn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sn', new_sn_path %>
