<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @setting.login_id %>
</p>

<p>
  <strong>Login pass:</strong>
  <%= @setting.login_pass %>
</p>

<p>
  <strong>Customer tel:</strong>
  <%= @setting.customer_tel %>
</p>

<p>
  <strong>Recruiting tel:</strong>
  <%= @setting.recruiting_tel %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @setting.mail %>
</p>

<p>
  <strong>Opening:</strong>
  <%= @setting.opening %>
</p>

<p>
  <strong>Closing:</strong>
  <%= @setting.closing %>
</p>

<p>
  <strong>Reserve:</strong>
  <%= @setting.reserve %>
</p>

<p>
  <strong>Holiday:</strong>
  <%= @setting.holiday %>
</p>

<p>
  <strong>Nearest:</strong>
  <%= @setting.nearest %>
</p>

<p>
  <strong>Address:</strong>
  <%= @setting.address %>
</p>

<p>
  <strong>Business trip:</strong>
  <%= @setting.business_trip %>
</p>

<p>
  <strong>Cast ja:</strong>
  <%= @setting.cast_ja %>
</p>

<p>
  <strong>Cast en:</strong>
  <%= @setting.cast_en %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
