<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @widget.location %>
</p>

<p>
  <strong>Title:</strong>
  <%= @widget.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @widget.content %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
