<p id="notice"><%= notice %></p>

<p>
  <strong>Home:</strong>
  <%= @page.home %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @page.attendance %>
</p>

<p>
  <strong>Therapist:</strong>
  <%= @page.therapist %>
</p>

<p>
  <strong>Price:</strong>
  <%= @page.price %>
</p>

<p>
  <strong>Event:</strong>
  <%= @page.event %>
</p>

<p>
  <strong>Access:</strong>
  <%= @page.access %>
</p>

<p>
  <strong>Recruitment:</strong>
  <%= @page.recruitment %>
</p>

<p>
  <strong>Diary:</strong>
  <%= @page.diary %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @page.movie %>
</p>

<p>
  <strong>Ranking:</strong>
  <%= @page.ranking %>
</p>

<p>
  <strong>Reserve:</strong>
  <%= @page.reserve %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @page.mail %>
</p>

<p>
  <strong>Inquiry:</strong>
  <%= @page.inquiry %>
</p>

<p>
  <strong>Link:</strong>
  <%= @page.link %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @page.privacy %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
