<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-success text-light p-2 mr-3 ml-3">管理画面の使い方・Q＆A</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "初めてのお使いの方へ", "/hazimete" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "メール設定について", "/mail" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "よくある質問Q&A", "/faq" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "エディターの使い方", "/editer" %>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 mr-3 ml-3">新着情報</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/news/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/news" %>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">セラピスト</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/therapists/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/therapists" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">非転載中</div>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">スケジュール</p>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">一覧・編集</div>
            </button>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">インフォメーション</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/infos/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/infos" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">非転載中</div>
            </button>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">ランキング</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/rankings/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/rankings" %>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">リンク</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/links/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/links" %>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-info text-light p-2 ml-3 mr-3">ウィジェット（HTMLタグ等）</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "新規登録", "/widgets/new" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "一覧・編集", "/widgets" %>
              </div>
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-center">
            <p class="w-100 bg-warning text-light p-2 ml-3 mr-3">初期設定</p>

            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "店舗基本情報", "/settings/1/edit" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "LINE・Twitter・ブログ", "/sns/1/edit" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1 link-light">
                <%= link_to "利用ページ選択", "/pages/1/edit" %>
              </div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">トップページ表示順</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">スマホトップページ表示順</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">コンセプト</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">料金システム</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">クレジット決済</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">セラピスト質問</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">アクセス（地図）</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">求人（募集要項）</div>
            </button>
            <button type="button" class="w-75 btn btn-secondary btn-lg m-1 p-2">
              <div class="text1">フリーページ編集</div>
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>